HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### Env files ###
.env
.env.*

### Data ###
data.sql

### terraform ###
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/terraform.tfvars
infra/.terraform.lock.hcl
*.tfstate
*.tfstate.backup

### Docker local cache ###
**/docker-compose.override.yml